@import "cards.css";
@import "header.css";
@import "main.css";
@import "side.css";
@import "aligning.css";
@import "post.css";

/** { box-sizing: border-box; }*/

/*layout for the homepage (mobile version)*/
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    background-color: #D3EFDE;
    display: grid;
    grid-template-columns: 1.5em 1fr 1.5em;
    grid-template-areas: 
    "header header header"
    ". main ."
    ". side ."
    "footer footer footer";
}

header {
    display: grid;
    grid-area: header;
    height: 20vh;
}

.main {
    display: grid;
    grid-area: main;
}

.side {
    display: grid;
    grid-area: side;
}

footer {
    display: grid;
    grid-area: footer;
    background-color: #fafbfc;
    color: grey;
    height: 50px;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: 10px;
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .main{
        padding-bottom: 10px;
    }
}

/*media query for laptop screens*/
@media only screen and (min-width:992px){
    /*layout for desktop*/
    body {
        display: grid;
        grid-template-columns: 1fr minmax(400px, 750px) minmax(50px, 150px) 1fr;
        column-gap: 30px;
        row-gap: 25px;
        grid-template-areas: 
        "header header header header"
        ". main side ."
        "footer footer footer footer";
    }
    
    header {
        height: 15vh;
    }

    footer {
        margin-top: 3%;
        height: 100%;
    }

    footer > p {
        font-size: 10px;
    }
}
